.contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    margin-bottom: 9px;
  }

  &__item-inner {
    display: block;
    padding: 9px 14px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    background-color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    &_active,
    &:hover {
      background-color: var(--bg-active);
    }
  }

  &__address {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1;
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;

    & > span {
      padding: 5px 10px;
      font-size: 12px;
      line-height: 18px;
      background-color: var(--bg-dark);
      border-radius: 4px;

      + span {
        margin-left: 12px;
      }
    }
  }
}
